variables:
  GIT_STRATEGY: clone
  registry_user: "${BASIC_USER}"
  registry_pass: "${BASIC_PWD}"
  KUBECONFIG: "/etc/deploy/config"

stages:
  - test-casskop-rck
#  - test-casskop-gke

before_script:
#  - cat /root/.kube/dex.yaml
  - kubectl dex login -c kaas-rec-sph -u ${BASIC_USER} -p ${BASIC_PWD}
  - export KUBECONFIG=/root/.kube/config
  - kubectl get nodes
  - ls

casskop-kuttl:
  stage: test-casskop-rck
  image: registry.gitlab.si.francetelecom.fr/build-images/kubernetes:2.1
  script:
#    - curl -L https://github.com/kudobuilder/kuttl/releases/download/v0.7.2/kubectl-kuttl_0.7.2_linux_x86_64 -o kuttl
    - chmod +x kuttl
    - cp -v /root/.kube/config kubeconfig
    - make kuttl-casskop-casskop-cassandra-e2e
  only:
    - master

#deploy-casskop:
#  stage: test-casskop-rck
#  image: registry.gitlab.si.francetelecom.fr/build-images/kubernetes:2.1
#  script:
#    - ls
#  only:
#    - master

#construct-gke:
#    stage: test-casskop-gke
#    image: registry.gitlab.si.francetelecom.fr/build-images/kubernetes-external:latest
#    tags:
#      - inet
#    script:
#        - ls
#        - gcloud
#    only:
#      - master
